.post {
	.post-content{
		ul {
			padding-top: 15px
		}
	}
}

.center-img {
	text-align: center
}

.img-circle {
	border-radius: 50%
}

.about p, .about li {
	letter-spacing: -0.02em;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    line-height: 1.59;
    color: #666665;
}

.about header {
	margin-bottom: 50px;
}