<!DOCTYPE html>
<html ⚡ lang="en">
  {% include head.html %}
  <body>
    <amp-analytics type="googleanalytics" id="analytics1">
      <script type="application/json">
      {
        "vars": {
          "account": "UA-67034229-1"
        },
        "triggers": {
          "trackPageview": {
            "on": "visible",
            "request": "pageview"
          },
          "trackClickOnResume" : {
            "on": "click",
            "selector": "#resume-download-button",
            "request": "event",
            "vars": {
              "eventCategory": "ui-components",
              "eventAction": "resume-download-click"
            }
          }
        }
      }
      </script>
    </amp-analytics>
    
    <amp-auto-ads type="adsense"
        data-ad-client="ca-pub-5342737238378204">
    </amp-auto-ads>
    {% include header.html %}

    <amp-ad width="100vw" height="320"
         type="adsense"
         data-ad-client="ca-pub-5342737238378204"
         data-ad-slot="5084052206"
         data-auto-format="rspv"
         data-full-width="">
      <div overflow=""></div>
    </amp-ad>
    
    {{ content }}
  </body>
</html>
